.navigation {
  width: 100%;
  background-color: #e8322c;
  margin-bottom: 20px;
  text-align: left;
  padding: 30px; }
  .navigation a {
    display: inline-block;
    padding: 20px;
    color: white !important; }
