.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  //margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stock-wrapper {
  //outline:1px solid grey;
  margin-left: 50px;
  width: 50%;
  padding: 20px;
  float:left;
}

button {
  height: 40px;
  width: 90px;
  color: white;
  border-radius: 2rem;
}

.product-item-row {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom:20px;
  vertical-align: middle;

  div {
    display: inline-block;
    width: 110px;
  }

  img {
    margin-top: 10px;
  }

  .available {
    button {
      background-color: green;
    }
  }

  .not-available {
    button {
      background-color: red;
    }
  }
}