.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px; }

.stock-wrapper {
  margin-left: 50px;
  width: 50%;
  padding: 20px;
  float: left; }

button {
  height: 40px;
  width: 90px;
  color: white;
  border-radius: 2rem; }

.product-item-row {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  vertical-align: middle; }
  .product-item-row div {
    display: inline-block;
    width: 110px; }
  .product-item-row img {
    margin-top: 10px; }
  .product-item-row .available button {
    background-color: green; }
  .product-item-row .not-available button {
    background-color: red; }
